<fieldset class="form-group border p-2">

  <h5 style="text-align:center;">
    That's a login that authenticate at moviedb api
  </h5>

  <div class="row-full">
    <div id="fundo" (keypress)="logar($event)">
      <div id="form" class="form col-sm-3 pb-3">
          <span id="icon"></span>
          <input type="text" [(ngModel)]="login" class="form-control mb-3 p-2" appAutofocus>
          <input type="password" [(ngModel)]="password" class="form-control mb-3 p-2">
          <button type="submit" class="btn btn-block btn-primary p-2" (click)="logar($event)">entrar</button>
      </div>
    </div>
  </div>

</fieldset>